*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}
html ,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(118, 196, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
#outer_circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}
#inner_circle{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background-color:#000;
    justify-content: center;
    align-items: center;
    display: flex;
}
.text{
    color: white;
    font-size: 22px;
}

.minute{
    font-size: 40px;
}
.sec{
    font-size: 34px;
}
.min_sec{
    font-size: 30px;
}
#button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}
.button{
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
}
.laps{
    list-style: none;
    color: white;
    height: 300px;
    width: 250px;
    overflow: auto;
    position: relative;
    padding: 30px;
    margin-top: 10px;
}
.laps::-webkit-scrollbar{
    display: none;
}
.lap_items{
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 50px;
    margin-bottom: 15px;
}
.number{
    color: #cccccc;
}
.time_stamp{
    display: inline-block;
    margin-left: 25px;
}
#lap-clear{
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 35px;
    left: 48.5%;
    transform: translate(-50%);
    width: 150px;
    padding: 10px 0px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: black;
}
.hidden{
    visibility: hidden;
}